# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vs/
/x64/
/CXXLearningNotes/.vs/CXXLearningNotes/FileContentIndex/*.vsidx
/CXXLearningNotes/.vs/CXXLearningNotes/v17/ipch/AutoPCH/714a8373adca9725/*.ipch
/CXXLearningNotes/.vs/CXXLearningNotes/v17/*.suo
/CXXLearningNotes/Rocky.Attribute.Demo/x64/Debug/*.command
/CXXLearningNotes/Rocky.Attribute.Demo/x64/Debug/*.json
/CXXLearningNotes/Rocky.Attribute.Demo/x64/Debug/Rocky.At.99721d9d.tlog/*.tlog
/CXXLearningNotes/Rocky.Attribute.Demo/x64/Debug/*.dt
/CXXLearningNotes/Rocky.Attribute.Demo/x64/Debug/Rocky.At.99721d9d.tlog/unsuccessfulbuild
/CXXLearningNotes/Rocky.Attribute.Demo/x64/Debug/*.idb
/CXXLearningNotes/Rocky.Attribute.Demo/x64/Debug/Rocky.At.99721d9d.tlog/*.lastbuildstate
/CXXLearningNotes/Rocky.Attribute.Demo/x64/Debug/*.pdb
/CXXLearningNotes/Rocky.Attribute.Demo/*.filters
/CXXLearningNotes/.vs/CXXLearningNotes/v17/*.db
/CXXLearningNotes/Rocky.Attribute.Demo/x64/Debug/*.log
